<h4>
    <%= link_to channel.title, contents_path(channel.id, channel.ctype) %>
</h4>
<small>&nbsp;</small>
<div class="entry">
    <div class="c_b_p_desc"><%= trunc_desc(channel.description) %></div>
</div>