<% provide(:title, @channel.name) %>

<% content_for :nav do %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "修改", edit_channel_url(@channel) %></li>
    </ul>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= @channel.name %>
    </div>
    <div class="form-group">
      <%= @channel.description %>
    </div>
  </div>
</div>