<!DOCTYPE html>
<html>
<head>
    <title>关于</title>
    <%= render 'layouts/header' %>
</head>
<body>

<%= render 'layouts/navbar' do %>
    <%= render 'layouts/navmenu2' %>
<% end %>

<div id="fixed-before" class="sub-header"></div>

<div class="body flex-container">
    <div class="flex-content">
        <div class="box">
            <div class="box-body">
            <p>这是一个个人站点。</p>
            <p>有些内容摘抄自网络，有些是自己所写。</p>
            <p>若内容影响了您的权益，或有什么建议，可通过以下方式联系我。感谢。</p>
            <p>Email: larry@coloc.cc </p>
            </div>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
