<!DOCTYPE html>
<html>
<head>
    <title>帮助</title>
    <%= render 'layouts/header' %>
</head>
<body>

<nav class="header navbar navbar-default">
    <div class="container">
        <%= render 'layouts/navlogo', form: true, action: channels_path,
                   placeholder: '搜索频道' %>
        <%= render 'layouts/navmenu', wrapper: true %>
    </div>
</nav>


<div class="body container">
    <div class="row">
        <div class="col-md-12" style="position: static;">
            <div class="block">
                <p>本站内容允许使用Markdown来书写，这是一种文本标记语言。通过一些简单的标记，来标识出文章的不同部分内容。</p>
                <p>如标识出标题、正文、引用快、列表、代码块等。通过将这些不同内容标识出来，系统将会自动给于文章一个更好的排版，更易于阅读。</p>

                    <h3>标题</h3>

                    <p>在行首插入 1 到 6 个 <code>#</code> ，对应到标题 1 到 6 阶，例如：</p>

                    <pre><code># 这是 H1

## 这是 H2

###### 这是 H6
</code></pre>
                    <h3>引用</h3>

                    <p>Markdown标记区块引用是使用行首添加<code>&gt;</code> 的方式。</p>

                    <pre><code>&gt; This is a blockquote with two paragraphs. Lorem ipsum dolor sit amet,
&gt; consectetuer adipiscing elit. Aliquam hendrerit mi posuere lectus.
&gt; Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.
</code></pre>

                    <h3>列表</h3>

                    <p>Markdown列表使用星号标记：</p>

                    <pre><code>*   Red
*   Green
*   Blue
</code></pre>

                    <h3>代码</h3>

                    <p>通过使用以下方式来标记代码块，其中```后面跟随的是语言名称。代码块与之前的内容之间需要隔一个空行。</p>

                    <pre>
```java
ArrayList a = new ArrayList();
for (int i = 0; i < 2; i++) {
    ArrayList c = new ArrayList();
    c.add(i+1);
    c.add(i+2);
    c.add(c);
    Log.i("myinfo",c.toString());
}
```</pre>

                    <h3>链接</h3>

                    <p>通过以下格式在文章中插入链接</p>
                    <pre><code>This is [an example](http://example.com/ "Title") inline link.

[This link](http://example.net/) has no title attribute.
</code></pre>

                    <h3>强调</h3>

                    <p>通过使用星号<code>*</code>将需要强调的内容包围起来即可</p>

                    <pre><code>*single asterisks*</code></pre>

                    <h3>反斜杠</h3>

                    <p>Markdown可以利用反斜杠来插入一些在语法中有其它意义的符号，在这些字符前加上反斜杠，字符在文章中即会原样输出。</p>
                    <pre><code>\   反斜线
`   反引号
*   星号
_   底线
{}  花括号
[]  方括号
()  括弧
#   井字号
+   加号
-   减号
.   英文句点
!   惊叹号
</code></pre>
            </div>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
