
<% content_for :navbar do %> 
<li><%= link_to "创建", new_item_path %></li>
<% end %>

<div class="jumbotron">
  <h1>欢迎来到宇哲</h1>
  <p>一个书写并分享知识的地方</p>
  <p><%= link_to "了解更多", about_path, class:"btn btn-primary btn-lg" %></p>
</div>
