<!DOCTYPE html>
<html>
<head>
    <title>互动</title>
    <%= render 'layouts/header' %>
</head>
<body>

<div class="container">
    <!--<table class="table">-->
        <!--<tbody>-->
        <!--<% for c in @interactions%>-->
            <!--<tr>-->
                <!--<td><%=c.title%></td>-->
            <!--</tr>-->
        <!--<%end%>-->
        <!--</tbody>-->
    <!--</table>-->
</div>
<%= render 'layouts/footer' %>
</body>
</html>
