
<div class="errors">
    <% errors.details.each do |msg|%>
        <div class="alert alert-error">
            <% if msg[0] == :title %>
                <% if msg[1][0][:error] == :taken %>
                    同名文章已存在
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>