<% provide(:title, @article.title ) %>

<% content_for :head do %>
<style type="text/css">
  <%=Pygments.css('.highlight')%>
</style>
<% end %>

<div class="col-md-12">
  <%= raw markup(@article.markup, @article.content) %>
</div>
