<% provide(:title, '用户列表')
   provide(:search_act, users_path) %>

<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
	<th>#</th>
	<th>姓名</th>
      </tr>
    </thead>
    <tbody>
      <% n = 0
	 for user in @users%>
      <tr>
	<th><%=n+=1%></th>
	<td><%=link_to user.name, user%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
