<% provide(:title, @user.name) %>

<div class="col-md-11">
  <%= @user.name %>
</div>
<div class="col-md-1">  
  <ul class="nav nav-stacked" role="tablist">
    <% if current_user.admin? && !current_user?(@user) %>
      <li role="presentation">
	<%= link_to "Delete", @user, method: :delete, data: { confirm: "You sure?" } %>
      </li>
    <% end %>
  </ul>
</div>
