<ul class="nav nav-stacked" role="tablist">
  <li role="presentation">
    <%= link_to "Edit", edit_item_path(@item) %>
  </li>
  <li role="presentation">
    <%= link_to "Delete", @item, method: :delete, data: { confirm: "You sure?" } %>
  </li>
</ul>
