<% provide(:title, '条目列表')
   provide(:info, "items") %>

<div class="col-md-12">
  <%if @items.count > 0%>
  <table class="table">
    <tbody>
      <% for item in @items%>
      <tr>
	<td><%=link_to item.title, item%></td>
	<td><%=prettify_markup(item.markup)%>
	<%=item.markup%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <%else%>
  没有结果
  <%end%>
</div>

