<% provide(:title, 'All items') %>

<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
	<th>#</th>
	<th>标题</th>
	<th>标记</th>
      </tr>
    </thead>
    <tbody>
      <% n = 0
	 for item in @items%>
      <tr>
	<th><%=n+=1%></th>
	<td><%=link_to item.title, item%></td>
	<td><%=prettify_markup(item.markup)%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <%= will_paginate %>
</div>

