// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "highlight.css.scss";

div.article {
    margin-bottom: 10px;
    pre{
        padding: 10px;
        margin: 0;
    }
    h5 {margin-bottom:6px;}

    small {
        display: block;
    }
    p {
        font-weight:400;
        line-height: 1.9;
        word-spacing: 1px;
        letter-spacing: 0.01em;
    }
    blockquote {
        font-size: inherit;
        padding: 0px 20px;
        margin: 0 0 10px;
    }
    [id^=part-] {
        margin-top: -60px;
        padding-top: 60px;
    }
}