// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "highlight.css.scss";

div.article {
    margin-bottom: 10px;
    pre[lang]{ padding:0; }
    h5 {border-bottom:dashed 1px #ccc;margin-bottom:6px;}

    small {
        display: block;
    }
    p {
        font-weight:400;
        line-height: 1.9;
        word-spacing: 1px;
        letter-spacing: 0.01em;
    }
}

div.post {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;

    h4 {
        letter-spacing: -1px;
        background: url(dotsH.gif) repeat-x bottom left;
        margin: 0;
        padding: 6px 0;
        font-weight: normal;
        line-height: 120%;
    }
    small {
        font-size: 12px;
        letter-spacing: normal;
        color: #ababab;
        display: block;
        text-align: right;
    }
}