// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "highlight.css.scss";

div.article {
    margin-bottom: 10px;
    font-size: 1.1em;
    pre{
        padding: 10px;
        margin: 0;
    }
    h5 {margin-bottom:6px;}

    .block.main-title{
        padding: 5px 10px;
        font-size: 1.4em;
        color: #0c94d7;
    }

    p {
        font-weight:400;
        line-height: 1.9;
        word-spacing: 1px;
        letter-spacing: 0.01em;
    }
    blockquote {
        font-size: inherit;
        padding: 0 20px;
        margin: 0 0 10px;
    }
    [id^=part-] {
        margin-top: -60px;
        padding-top: 60px;
    }
    textarea.content { min-height: 300px; }
}

div.articles, div.article {
    .left {
        padding: 0 10px 0 10px;
        position: static;
    }
    .visible {
        height: 24px;
        width: 24px;
        margin-top: -3px;
    }
    .right {
        padding: 0 10px 0 0;
        @media(max-width: 992px) {
            padding: 0 10px 0 10px;
        }
        position: static;
    }
    .tagcloud {
        margin-top: 10px;
        margin-bottom: -5px;
        a {
            display: inline-block;
            font-size: 0.9em;
            line-height: 20px;
            margin: 0 5px 5px 0;
            padding: 0 8px;
            background: #f7f8fa;
            border-radius: 99px;
        }
        p { margin-bottom: 5px; }
    }
    .recomends {
        ul {
            margin-top: 10px;
            li{padding-bottom: 10px;}
            li:last-child {padding-bottom: 0;}
        }
    }
    .description p {
        margin-top: 10px;
        margin-bottom: 5px;
        letter-spacing: 0.3px;
    }
    .item {
        .name {
            border-bottom: solid 1px #f5f5f5;
            padding: 0 0 5px 0;
            .nickname {font-size: 1em;}
            .time {
                color: #969696;
                font-size: 0.9em;
            }
        }
        .title {
            padding: 10px 0 10px 0;
            overflow: hidden;
            a {
                color: #0c94d7;
            }
        }
    }
}

div.articles {
    padding-top:0;
    margin-top: 10px;
}

.channel-title {
    padding-top: 50px;
    background: #fff;
    border-bottom: 1px solid #e7eaf1;
    box-shadow: 0 1px 3px 0 rgba(0,37,55,.05);
    .visible {
        height: 24px;
        width: 24px;
        margin-top: -3px;
    }
    .desc {
        padding: 0 5px;
        margin-top: 10px;
        margin-bottom: 5px;
        a { color: #0c94d7;margin-left:5px; }
    }
    .simple {
        span {
            width:90%;
            white-space:nowrap;
            text-overflow:ellipsis;
            overflow:hidden;
            display: inline-block;
        }
        .on { width: 50px; display: inline-block; }
    }
    .full {
        span { overflow: auto; }
        a { position: static; top: 0; }
    }
    .name {
        margin-top:5px;
        padding: 0 0 5px 0;
        .nickname {font-size: 1em;}
    }
}

