// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channels {
    .post {
        margin-bottom: 10px;

        h4 {
            letter-spacing: -1px;
            border-bottom: solid 1px #f5f5f5;
            margin: 0;
            padding: 6px 0;
            font-weight: normal;
            line-height: 120%;

            a.title {
                color: #0c94d7;
            }
        }
    }
    .left {
        padding: 0 10px 0 10px;
        position: static;
    }
    .right {
        padding: 0 10px 0 0;
        @media(max-width: 992px) {
            padding: 0 10px 0 10px;
        }
        position: static;
    }

    .tagcloud {
        margin-top: 10px;
        margin-bottom: -5px;
        a {
            display: inline-block;
            font-size: 0.9em;
            line-height: 20px;
            margin: 0 5px 5px 0;
            padding: 0 8px;
            background: #f7f8fa;
            border-radius: 99px;
        }
        p { margin-bottom: 5px; }
    }
    .entry {
        margin-top: 5px;
        font-size: 15px;
        line-height: 1.8;
        word-break: break-all;
    }
}
