// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channels {
    .post {
        margin-bottom: 10px;
        h2 {
            font-size: 22px;
            letter-spacing: -1px;
            background: url(dotsH.gif) repeat-x bottom left;
            margin: 0;
            padding: 6px 0;
            font-weight: normal;
            line-height: 120%;
        }
        small {
            font-size: 12px;
            letter-spacing: normal;
            color: #ababab;
            display: block;
            text-align: right;
        }
        ul.postmetadata {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 4px 0;
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 12px;

            li {
                padding: 2px 0 5px 0px;
                background: no-repeat 0 -170px;
                .icon_bullet {
                    background-image: url(icon_bullet.gif);
                }
            }
            li.icon_r {
                float: right;
                padding: 0 0 0 20px;
            }
        }
    }
    .entry {
        font-family: "Trebuchet MS" ,Georgia,"Times New Roman",Times,sans-serif;
        font: 14px Georgia,"Times New Roman",Times,sans-serif;
        line-height: 1.8;
        word-break: break-all;
    }
}