// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channels {
    .post {
        margin-bottom: 10px;
        h4 {
            letter-spacing: -1px;
            background: url(dotsH.gif) repeat-x bottom left;
            margin: 0;
            padding: 6px 0;
            font-weight: normal;
            line-height: 120%;
        }
        small {
            font-size: 12px;
            letter-spacing: normal;
            color: #ababab;
            display: block;
            text-align: right;
        }
    }
    .entry {
        font-size: 15px;
        line-height: 1.8;
        word-break: break-all;
    }
}