// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron h1{text-align:center;margin-top:10px;}
.navbar-brand{padding:8px 13px !important;}
.navbar-brand img{height:34px;width:34px;}