@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
/*
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}*/
/* universal */
/*html {
    overflow-y: scroll;
}

section {
    overflow: auto;
}*/
/*textarea {
    resize: vertical;
}
.center {
    text-align: center;
    h1 {
	margin-bottom: 10px;
    }
}*/
/* typography
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}
p {
    font-size: 1.1em;
    line-height: 1.7em;
}*/
/* header */
.navbar-form { border-bottom:0;border-top:0; }
/* footer */
footer {
    a {
	color: $gray;
	&:hover {
	    color: $gray-darker;
	}
    }
    small {
	float: left;
    }
    ul {
	float: right;
	list-style: none;
	li {
	    float: left;
	    margin-left: 10px;
	}
    }
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  line-height: 36px;
}
/* miscellaneous */
/*.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}
*/
/* sidebar */
/*aside {
    section {
	padding: 10px 0;
	border-top: 1px solid $gray-lighter;
	&:first-child {
	    border: 0;
	    padding-top: 0;
	}
	span {
	    display: block;
	    margin-bottom: 3px;
	    line-height: 1;
	}
	h1 {
	    font-size: 1.4em;
	    text-align: left;
	    letter-spacing: -1px;
	    margin-bottom: 3px;
	    margin-top: 0px;
	}
    }
}
.gravatar {
    float: left;
    margin-right: 10px;
}
*/
/* forms
label { margin-top: 5px; }
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    @include box_sizing;
}
input {
    height: auto !important;
}
#error_explanation {
    color: #f00;
    ul {
	padding-left: 0;
	list-style: none;
	margin: 0 0 18px 0;
    }
}
.field_with_errors {
    @extend .has-error;
}
*/

/* Users index */
/*
.users,.items {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    li {
	overflow: auto;
	padding: 10px 0;
	border-bottom: 1px solid $gray-lighter;
	&:last-child {
	    border-bottom: none;
	}
    }
}
*/
/*table*/
.table tr:first-child td{border-top:0;}
.table tr.group_title {background-color:#f9f9f9;}
/* pagination */
.pagination { margin: 0;  }
/* code highlight */
div.highlight {background-color:#fff;}