@import "bootstrap";

body {
    min-width: 320px;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-form {
    .form-control {
        width:auto;
    }
    border-bottom:0;
    border-top:0;
    margin-left:15px;
    margin-right:0;
    padding:0 0;
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: auto !important;
}

div.errors {
    .alert {
        padding: 0;
        margin-bottom: 5px;
        color: red;
    }
}

div.signin {
    .login { width: 100%; }
}

div.signup {
    .register{
        padding:0;
        input { width: 100%; }
    }
}

div.jumbotron {
    background-color: #f8f8f8;
}

@media(max-width: 768px) {
    .navbar form.search {
        margin-top: -42px;
    }
}

/*顶部导航*/
nav.header {
    border-top-width: 0;
    position: fixed; width: 100%;
}
a.navbar-brand {
    padding: 8px 8px 8px 0;
    img { height: 34px; }
}
/*主体样式*/
div.body{
    padding-top:60px;
}
/* 底部导航 */
div.footer {
    margin-top:10px;
    div.cnzz { display: none; }
}