div.highlight {
    stroke: #aaa;
    stroke-width: 1;
    fill: #aaa;
    font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', serif;

    pre {background-color:#f8f8f8;border-width:0;}

    .hll{background-color:#ffc}
    .c{color:#B0B2B0;font-style:italic}
    .k{color:#A2F;}
    .o{color:#666}
    .cm{color:#B0B2B0;font-style:italic}
    .cp{color:#B0B2B0}
    .c1{color:#B0B2B0}
    .cs{color:#B0B2B0;}
    .gd{color:#A00000}
    .ge{font-style:italic}
    .gr{color:red}
    .gh{color:navy;}
    .gi{color:#00A000}
    .go{color:gray}
    .gp{color:navy;}
    .gs{}
    .gu{color:purple;}
    .gt{color:#0040D0}
    .kc{color:#A2F;}
    .kd{color:#A2F;}
    .kn{color:#A2F;}
    .kp{color:#a2f}
    .kr{color:#A2F;}
    .kt{color:#0B0;}
    .m{color:#666}
    .s{color:#b44}
    .na{color:#b44}
    .nb{color:#a2f}
    .nc{color:#00f}
    .no{color:#800}
    .nd{color:#a2f}
    .ni{color:#999;}
    .ne{color:#D2413A;}
    .nf{color:#00A000}
    .nl{color:#A0A000}
    .nn{color:#00F;}
    .nt{color:green;}
    .nv{color:#B8860B}
    .ow{color:#A2F;}
    .w{color:#bbb}
    .mf{color:#666}
    .mh{color:#666}
    .mi{color:#666}
    .mo{color:#666}
    .sb{color:#b44}
    .sc{color:#b44}
    .sd{color:#B44;font-style:italic}
    .s2{color:#b44}
    .se{color:#B62;}
    .sh{color:#b44}
    .si{color:#B68;}
    .sx{color:green}
    .sr{color:#b68}
    .s1{color:#b44}
    .ss{color:#B8860B}
    .bp{color:#a2f}
    .vc{color:#B8860B}
    .vg{color:#B8860B}
    .vi{color:#B8860B}
    .il{color:#666}
}

div.highlight.csharp {
    .nn{font-weight:normal;color:blue;}
    .nc{color:#2b91af;}
}