div.highlight {
    stroke: #aaa;
    stroke-width: 1;
    fill: #aaa;
    font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', serif;

    pre {
        background-color:#f8f8f8;
        border-width:0;
        font-size:12px;
    }

    .hll{background-color:#ffc}
    .c{color: #aab2ab;}  /* Comment */
    .err { border: 1px solid #FF0000 } /* Error */
    .k{color:#00f;}         /* Keyword */
    .o{color:#666}  /* Operator */
    .ch { color: #60a0b0; } /* Comment.Hashbang */
    .cm{color:#B0B2B0;}    /* Comment.Multiline */
    .cp{color: #b2abb0  }  /* Comment.Preproc */
    .cpf { color: #60a0b0; } /* Comment.PreprocFile */
    .c1{color: #b2a8ad }  /* Comment.Single */
    .cs{color: #a8aab2;} /* Comment.Special */
    .gd{color:#A00000}  /* Generic.Deleted */
    .ge{}  /* Generic.Emph */
    .gr{color:red}  /* Generic.Error */
    .gh{color:navy;}    /* Generic.Heading */
    .gi{color:#00A000}  /* Generic.Inserted */
    .go{color:gray} /* Generic.Output */
    .gp{color:navy;}    /* Generic.Prompt */
    .gs{font-weight:bolder;}   /* Generic.Strong */
    .gu{color:purple;}  /* Generic.Subheading */
    .gt{color:#0040D0}  /* Generic.Traceback */
    .kc{color: #f27eff;}    /* Keyword.Constant */
    .kd{color: #a133ff;}    /* Keyword.Declaration */
    .kn{color:#A2F;}    /* Keyword.Namespace */
    .kp{color: #db2eff}     /* Keyword.Pseudo */
    .kr{color: #c33fff;}    /* Keyword.Reserved */
    .kt{color:#0B0;}    /* Keyword.Type */
    .m{color:#666}      /* Literal.Number */
    .s{color:#b44}      /* Literal.String */
    .na{color:#b44} /* Name.Attribute */
    .nb{color:#000}     /* Name.Builtin */
    .nc{color:#2b91af}  /* Name.Class */
    .no{color:#800} /* Name.Constant */
    .nd{color:#a2f} /* Name.Decorator */
    .ni{color:#999;}     /* Name.Entity */
    .ne{color:#D2413A;} /* Name.Exception */
    .nf{color:#000}   /* Name.Function */
    .nl{color:#A0A000}  /* Name.Label */
    .nn{color:#00F;}    /* Name.Namespace */
    .nt{color:green;}  /* Name.Tag */
    .nv{color:#B8860B} /* Name.Variable */
    .ow{color:#A2F;} /* Operator.Word */
    .w{color:#bbb}  /* Text.Whitespace */
    .mb { color: #40a070 } /* Literal.Number.Bin */
    .mf{color:#666} /* Literal.Number.Float */
    .mh{color:#666} /* Literal.Number.Hex */
    .mi{color:#666} /* Literal.Number.Integer */
    .mo{color:#666} /* Literal.Number.Oct */
    .sa { color: #4070a0 } /* Literal.String.Affix */
    .sb{color:#b44} /* Literal.String.Backtick */
    .sc{color:#b44}  /* Literal.String.Char */
    .dl { color: #4070a0 } /* Literal.String.Delimiter */
    .sd{color:#B0B2B0}  /* Literal.String.Doc */
    .s2{color:#b44}/* Literal.String.Double */
    .se{color:#B62;} /* Literal.String.Escape */
    .sh{color:#b44} /* Literal.String.Heredoc */
    .si{color:#B68;} /* Literal.String.Interpol */
    .sx{color: #0a8005} /* Literal.String.Other */
    .sr{color:#b68} /* Literal.String.Regex */
    .s1{color:#b44} /* Literal.String.Single */
    .ss{color:#B8860B} /* Literal.String.Symbol */
    .bp{color:#a2f} /* Name.Builtin.Pseudo */
    .fm { color: #06287e } /* Name.Function.Magic */
    .vc{color: #b8740a} /* Name.Variable.Class */
    .vg{color: #b88615} /* Name.Variable.Global */
    .vi{color: #b89b08 } /* Name.Variable.Instance */
    .vm { color: #bb60d5 } /* Name.Variable.Magic */
    .il{color:#666} /* Literal.Number.Integer.Long */
}

div.highlight.php {
    .cp {color:#E0A42D}
}

div.highlight.csharp {
    .nn{font-weight:normal;}
    .nc{color:#2b91af;}
    .kt{color:#00f;}
}