<% provide(:title, '信息列表')
   provide(:search_act, root_path)%>

  <table class="table">
    <tbody>
      <% if @items.count > 0%>
      <tr class="group_title">
	<td>条目</td>
      </tr>
      <%for item in @items%>
      <tr>
	<td><%=link_to item.title, item%></td>
      </tr>
      <% end%>
      <% if @items.count == @limit%>
      <tr>
	<td><%=link_to "更多条目...", article_path(@keyword)%></td>
      <tr>
	<% end end%>
	
	<% if @users.count > 0%>
      <tr class="group_title">
	<td>用户</td>
      </tr>
      <%for user in @users%>
      <tr>
	<td><%=link_to user.name, user%></td>
      </tr>
      <% end%>
      <% if(@users.count == @limit)%>
      <tr>
	<td><%=link_to "更多用户...", user_path(@keyword)%></td>
      <tr>
      <% end end%>
    </tbody>
  </table>

