<div class="footer">
    <% if Rails.env.production? %>
    <div class="cnzz">
        <script src="http://s19.cnzz.com/z_stat.php?id=1000452895&web_id=1000452895"
                type="text/javascript"></script>
    </div>
    <% end %>
</div>