<nav class="header">
    <div class="flex-container">
        <div class="flex-content table-card hcard clearfix">
            <a class="navbar-brand" href="/">
                <img alt="logo" class="logo" src="/assets/coloc.gif">
            </a>
            <%= yield %>
        </div>
    </div>
</nav>