<nav class="header">
    <div class="flex-container">
        <div class="flex-content table-card hcard clearfix">
            <a class="brand" href="/">首页</a>
            <%= yield %>
        </div>
    </div>
</nav>